In [1]:
import pandas as pd
from docx import Document
import os
import time
import re

In [2]:
basedir = os.getcwd()
basedir

'/Users/ajsaule'

In [4]:
dfs=[]

In [5]:
def table_read(document):
    document = Document("/Users/ajsaule/Desktop/parse/2 may 2017 - 1 mar 2022/"+file)
    f=re.findall(r'по.*года', document.paragraphs[1].text)
    for i in range(len(document.tables)):
        if 2<=i<=4:
            table=document.tables[i]
            data = [[cell.text for cell in row.cells] for row in table.rows]
            df = pd.DataFrame(data)
            df['date']=f[0]
            dfs.append(pd.DataFrame(df))

In [6]:
path ='/Users/ajsaule/Desktop/parse/2 may 2017 - 1 mar 2022/'
files = os.listdir(path)
for file in files:
    time.sleep(3)
    if file.endswith('.docx'):
        table_read(file)

In [ ]:
len(dfs)

In [7]:
dfs_temp=[]
dfs_temp_1=[]
dfs_temp_2=[]

In [8]:
table_1=dfs[0::3]
for t1 in table_1:
    time.sleep(2)
    df_1=pd.DataFrame(t1)
    outside_col, inside_col = df_1.iloc[0], df_1.iloc[1]
    df_1.columns = pd.MultiIndex.from_tuples(list(zip(outside_col,inside_col)))
    df_1=df_1.drop(df_1.index[[0,1]]).reset_index(drop=True).drop('с начала месяца', axis=1, level=1).droplevel(level=1, axis=1).rename( columns={'':'region'})
    df_1=df_1.rename(columns={df_1.columns[7]: 'date'})
    df_1=df_1.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_temp.append(df_1)

dfs_temp = pd.concat(dfs_temp).reset_index().drop(columns=['index'])
time.sleep(2)
table_2=dfs[1::3]
for t2 in table_2:
    time.sleep(3)
    df_2=pd.DataFrame(t2)
    df_2= df_2.rename(columns=df_2.iloc[0]).drop(df_2.index[0]).reset_index(drop=True).rename( columns={'':'region'})
    df_2=df_2.rename(columns={df_2.columns[8]: 'date'})
    df_2=df_2.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_temp_1.append(df_2)

dfs_temp_1 = pd.concat(dfs_temp_1).reset_index().drop(columns=['index'])
time.sleep(2)
table_3=dfs[2::3]
for t3 in table_3:
    time.sleep(3)
    df_3=pd.DataFrame(t3)
    df_3= df_3.rename(columns=df_3.iloc[0]).drop(df_3.index[0]).reset_index(drop=True).rename( columns={'':'region'})
    df_3=df_3.rename(columns={df_3.columns[8]: 'date'})
    df_3=df_3.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_temp_2.append(df_3)

dfs_temp_2 = pd.concat(dfs_temp_2).reset_index().drop(columns=['index'])
time.sleep(2)

In [8]:
l_pd_2=[dfs_temp, dfs_temp_1, dfs_temp_2]
n_df=pd.concat(l_pd_2)

In [9]:
n_df

,region,date,type_of_goods,price_in_per
0,Нур-Султан,по 14 апреля 2020 года,Социально-значимые продовольственные товары,"100,3"
1,Алматы,по 14 апреля 2020 года,Социально-значимые продовольственные товары,"99,4"
2,Шымкент,по 14 апреля 2020 года,Социально-значимые продовольственные товары,"100,6"
3,Актау,по 14 апреля 2020 года,Социально-значимые продовольственные товары,"100,4"
4,Актобе,по 14 апреля 2020 года,Социально-значимые продовольственные товары,"100,9"
...,...,...,...,...
133427,Семей,по 13 марта 2018 года,Капуста белокочанная,NaN
133428,Талдыкорган,по 13 марта 2018 года,Капуста белокочанная,NaN
133429,Тараз,по 13 марта 2018 года,Капуста белокочанная,NaN
133430,Шымкент,по 13 марта 2018 года,Капуста белокочанная,NaN
133431,По обследованным городам,по 13 марта 2018 года,Капуста белокочанная,NaN