In [1]:
import pandas as pd
from docx import Document
import os
import time
import re

In [ ]:
pip install

In [2]:
basedir = os.getcwd()
basedir

'/Users/ajsaule'

In [3]:
dfs_2=[]

In [4]:
def table_read_2(document):
    document = Document("/Users/ajsaule/Desktop/parse/24 mar-17 may 2022/"+file)
    f=re.findall(r'по.*года', document.paragraphs[1].text)
    for i in range(len(document.tables)):
        if i==4:
            table=document.tables[i]
            data = [[cell.text for cell in row.cells] for row in table.rows]
            df = pd.DataFrame(data)
            df['date']=f[0]
            #df.date = df.date.str.replace('по состоянию на ','').copy()
            dfs_2.append(pd.DataFrame(df))

In [5]:
path ='/Users/ajsaule/Desktop/parse/24 mar-17 may 2022/'
files = os.listdir(path)
for file in files:
    time.sleep(2)
    if file.endswith('.docx'):
        table_read_2(file)

In [6]:
dfs_2= pd.concat(dfs_2).reset_index().drop(columns=['index'])
time.sleep(2)
dfs_2= dfs_2.rename(columns=dfs_2.iloc[0]).drop(dfs_2.index[0]).reset_index(drop=True)
time.sleep(2)
dfs_2=dfs_2.rename(columns={dfs_2.columns[21]: 'date', dfs_2.columns[0]: 'type_of_goods'})
time.sleep(2)
dfs_2=dfs_2.melt(id_vars=['type_of_goods', 'date'], var_name="region", value_name="price_in_per")

In [7]:
dfs_2

,type_of_goods,date,region,price_in_per
0,Социально-значимые продовольственные товары,24 марта 2022 года,По обследованным городам,"101,7"
1,Мука пшеничная первого сорта,24 марта 2022 года,По обследованным городам,"100,6"
2,Хлеб пшеничный из муки первого сорта,24 марта 2022 года,По обследованным городам,"100,5"
3,Рожки (весовые),24 марта 2022 года,По обследованным городам,"101,2"
4,"Рис шлифованный, полированный (весовой)",24 марта 2022 года,По обследованным городам,"101,1"
...,...,...,...,...
1655,Лук репчатый,5 апреля 2022 года,Туркестан,"106,5"
1656,Капуста белокочанная,5 апреля 2022 года,Туркестан,"104,2"
1657,Сахар-песок,5 апреля 2022 года,Туркестан,"101,3"
1658,"Яйца, 1 категории",5 апреля 2022 года,Туркестан,"101,8"
1659,Соль,5 апреля 2022 года,Туркестан,"100,0"